:root
{
    --primaryColor:#ff4081;
    --primaryColorDark:#e42a68;
    --facebook:#3b5998;
    --twitter:#55acee;
    --google:#dc4e41;
    --instagram:#3f729b;
    
}
*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;   
}
ul
{
    list-style: none;
}
li
{
    display: inline;
}
html,body
{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    width:100%;
    background-color: rgb(255, 255, 255);
    
}
.text-center
{
    text-align: center;
}
.text-black
{
    color:black;
}
.text-white
{
    color:white;
}
.text-aqua
{
    color:aqua;
}
h1
{
    font-size:450%;
    /* color:white; */
    font-weight: 400;
    margin-bottom: 15px;
}
h2{
    font-size: 200%;
    /* color: white; */
    font-weight: 400;
}
.error
{
    color:rgb(255, 77, 77);
}
.success
{
    color:rgb(25, 201, 25);
}
/* 
For Button
*/
.btn:link,
.btn:visited
{
    /* border:2px solid black; */
    border-radius: 300px;
    padding:1.5% 4%;
    display: inline-block;
}
.btn-full:link,
.btn-full:visited
{
    color:white;
    background-color: var(--primaryColor);
}
.btn-full:hover,
.btn-full:active
{
    
    background-color: var(--primaryColorDark);
}
.btn-ghost:link,
.btn-ghost:visited
{
    border:2px solid #ed07b7;
    color:black;
}
.btn-ghost:hover,
.btn-ghost:active
{
    background-color: var(--primaryColor);
    color:white;
}
/* 
Nav Section
*/
.home__nav
{
    position: absolute;
    top:5%;
    left:50%;
    width:80%;
    transform: translate(-50%,-50%);
}
.home__nav li
{
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase; 
}
.home__nav li:last-child
{
   border: 2px solid black;
   transform: translateX(250px);
   border-radius: 5px;
   padding:5px;
}
.home__nav li a:link,
.home__nav li a:visited

{
    position: relative;
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: 400;
}
.home__nav li a::before
/* .main-nav li a:active */
{
    /* border-bottom: 2px solid var(--primaryColor); */
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color:var(--primaryColor);
    visibility: hidden;
    
    transform: scaleX(0);
    
    transition: all .3s ease-in-out 0s;
}
.home__nav li a:hover::before
{
visibility: visible;
  
transform: scaleX(1);
}
/* 
For Modal
*/
.modal-container
{
/* display: none; */
background-color: rgba(0,0,0,0.3);
display:flex;
position: fixed;
top:0;
left:0;
align-items: center;
justify-content: center; 
position: fixed;
height: 100vh;
width:100%;
z-index: 20;
opacity: 0;
pointer-events: none;
}
.modal-container.show
{
    opacity: 1;
    pointer-events: auto;
}
.modal
{
    background-color: #333;
    width:450px;
    max-width: 100%;
    padding:30px 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    text-align: center;
   
}
.modal h1
{
    margin: 0;

}
.modal p
{
    font-size: 14px;
    opacity: 0.7;
}
#close
{
    border:1px solid black;
    border-radius: 12px;
    margin-top: 30px;
    background-color: white;
    padding:5px;
    cursor: pointer;
}
/* 
For Home Section
*/
.home
{
    background-image:linear-gradient(rgb(0,0,0,.2),rgb(0,0,0,.6)),url(../images/hero-books.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 80px;
    /* background-color: pink; */
}
.home__box
{
    position: absolute;
    top:50%;
    left:50%;
    width:50%;
    transform: translate(-50%,-50%);
 
}
.home__box--text
{
    margin-bottom: 80px;;
}
.home__box--text
{
    color: white;
}
/* 
About Section
*/
.karnali__image
{
    width:80%;
    border-radius: 10px;
    margin-left: 10px;
}

.about__box--heading
{
    color:black;
    font-size: 250%;
    letter-spacing: .5px;
    font-weight: 500;
    margin-bottom: 50px;
}
.about__box--para
{
    color:#444;
    margin-bottom: 50px;
    padding-right: 100px;
}
.about
{
    margin-bottom: 20px;
}
.about__box a{
    color:blue;
}


/* 
Footer Section 
*/
footer{
    background-color: #333;
    padding:50px;
    font-size: 80%;
    color:#888;
}
.footer-nav li
{
    list-style: none;
    display:inline-block;
    margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
    color:#888;
    text-decoration: none;
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
}
.social-links li
{
    list-style: none;
    display:inline-block;
    margin-left: 20px;
}
.footer-nav
{
    float: left;
}
.social-links
{
    float:right;
}
.social-links li a:link,
.social-links li a:visited
{
    font-size: 160%;
    
}
.social-links li a:hover,
.social-links li a:active
{
    color:white;
}
.fa-facebook,.fa-instagram,
.fa-twitter,.fa-google-plus-g
{
    -webkit-transition:color 0.2s;
    transition: color 0.2s;
}



.fa-facebook:hover
{
    color:var(--facebook)
}
.fa-twitter:hover
{
    color:var(--twitter)
}
.fa-instagram:hover
{
    color:var(--instagram)
}
.fa-google-plus-g:hover
{
color:var(--google);
}

footer p
{
    text-align:center;
    margin-top: 50px;
    line-height: 1.5px;
}


